<div class="container">
  <div class="row">
    <p id="notice">
      <%= notice %>
      <% if @posts.suggestions.any? %>
        <p>Did you mean <%= @posts.suggestions.first %></p>
        <% else %>
        <p>Unable to retrieve</p>
      <% end %>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Hot Education Topic!</h2>
      <% @posts.each do |post| %>
      <div class="post_contents">
        <h3><%= post.title %></h3>
        <div>
          <p>Viewed by <%= post.click_count %> peoples.</p>
        </div>
        <div>
          <p>
            <%= truncate post.body.html_safe, length:350 %>
            <a href="/posts/<%= post.id %>">Read More</a>
          </p>
        </div>
        <div>
          <strong>Posted by 
            <%= post.user.username.capitalize %>
            <%= time_ago_in_words(post.updated_at) %> ago.
          </strong>
        </div>
        <p>
          
        </p>
      </div>
      <% end %>
    </div>
   <%= render 'layouts/hot_picks'%>
  </div>
</div>