<div class="container">
  <%= render "layouts/carousel"%>
  
  <div class="row">
    <p id="notice">
      <%= notice %>
      <% if @posts.suggestions.any? %>
        <p>Did you mean <%= @posts.suggestions.first %></p>
      <% end %>
    </p>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <h2>Hot Education Topic!</h2>
      <%= paginate @post %>
      <% @post.each do |post| %>
      <div class="post_contents">
        <h3>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </h3>
        <div>
          <p>
            <strong>
              Posted by <%= post.user.username.capitalize %>
              <%= time_ago_in_words(post.updated_at) %> ago and viewed by <%= post.click_count %> peoples.
            </strong>
          </p>
        </div>
        <div>
          <p>
            <%= link_to image_tag(post.photo_url(:thumb)), post.photo_url %>
            <%= truncate post.body.html_safe, length:350 %>
            <a href="/posts/<%= post.id %>">Read More</a>
          </p>
        </div>
        <p>
        </p>
      </div>
      <% end %>
      <br>
      <%= link_to 'New Post', new_post_path %>
    </div>

   <%= render 'layouts/hot_picks'%>
  </div>
</div>

