<div class="container">
  <div class="row">
    <p id="notice">
      <%= notice %>
    </p>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <h2>Most Viewed Sp-A-rticles</h2>
      <% @post.each do |post| %>
      <div class="post_contents">
        <h3>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </h3>
        <div>
          <p>
            <strong>
              Posted by <%= post.user.username.capitalize %>
              <%= time_ago_in_words(post.created_at) %> ago and viewed by <%= post.click_count %> peoples.
            </strong>
          </p>
        </div>
        <div>
          <p>
            <%= link_to image_tag(post.photo_url(:thumb)), post.photo_url %>
            <%= truncate post.body.html_safe, length:350 %>
            <a href="/posts/<%= post.id %>">Read More</a>
          </p>
        </div>
        <p>
        </p>
      </div>
      <% end %>
    </div>

   <%= render 'layouts/hot_picks'%>
  </div>

  <div class="row">
      <%= paginate @post, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
  </div>
</div>

