<div class="container">
  <%= render "layouts/carousel"%>

  <div class="row">
    <p id="notice">
      <%= notice %>
      <% if @posts.suggestions.any? %>
        <p>Did you mean <%= @posts.suggestions.first %></p>
      <% end %>
    </p>
  </div>

  <div class="row">
    <div class="col-md-8" id="posts-container">
      <h2>Hot Education Topic!</h2>
      <div id="paginator">
        <%= paginate @post, remote:true, :theme => 'twitter-bootstrap-3',
                     :pagination_class => "pagination-sm" %>
      </div>
      <div id="post">
        <%= render @post %>
      </div>
      <br>
    </div>
    <div></div>
   <%= render 'layouts/hot_picks'%>
  </div>
</div>
