<div class="container" id="post-container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <div class="dropdown">
        <a href="#" data-toggle="dropdown" id="dropdown-hover" class="dropdown-toggle">
          <h1><%= @post.title %> <b class="caret"> </b></h1>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit', edit_post_path(@post) %></li>
          <li><%= link_to 'Delete This Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
      <p>
        <strong><%= @post.user.username.capitalize %> created this page on <%= time_ago_in_words(@post.created_at) %> ago</strong>
      </p>
      <p>
        <strong>Visitors: <%= @post.click_count %></strong>
      </p>
      <p>
          <div>
            <%= link_to image_tag(@post.photo_url(:thumb)), @post.photo_url %>
            <%= @post.body.html_safe %>
          </div>
      </p>
      <i>filed under:
          <% a = [] %>
            <% @post.categories.each do |category| %>
              <%a << category.group %>
            <% end %>
          <%= a.join(', ')%></i>
      <br>
      <br>
      <%= render "posts/comments"%>
    </div>
  </div>
</div>
