<!DOCTYPE html>
<html>
<head>
  <title>Spam Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>

</head>
<body>
	<div class="container-fluid">
   <div class="row">
    <div id="nav-container">
      <%= render "layouts/navbar" %>
    </div>
      <p class="alert"><%= alert %></p>
      <div id="main-container">
        <%= yield %>
      </div>
    <%= render "layouts/footer" %>
   </div> 
  </div>
</body>
